<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa fa-car"></i>
    </div>
    <div class="sidebar-brand-text mx-3">CabPool</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" [class.active]="activeLink === 'Dashboard'">
    <a class="nav-link" href="#" [routerLink]="['/dashboard']">
      <i class="fa fa-tachometer"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">
    Users
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li
    class="nav-item"
    [class.active]="activeLink === 'Admin'"
    *ngIf="adminRole === 'lead-admin'"
  >
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseAdmin"
      aria-expanded="true"
      aria-controls="collapseAdmin"
    >
      <i class="fa fa-users"></i>
      <span>Admins</span>
    </a>
    <div
      id="collapseAdmin"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="#" [routerLink]="['/adminsRecord']"
          >Records</a
        >
        <a class="collapse-item" href="#" [routerLink]="['/createNewAdmin']"
          >Create New</a
        >
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item" [class.active]="activeLink === 'Driver'">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseDriver"
      aria-expanded="true"
      aria-controls="collapseDriver"
    >
      <i class="fa fa-users"></i>
      <span>Drivers</span>
    </a>
    <div
      id="collapseDriver"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="#" [routerLink]="['/driversRecord']"
          >Records</a
        >
        <a class="collapse-item" href="#" [routerLink]="['/createNewDriver']"
          >Create New</a
        >
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item" [class.active]="activeLink === 'Passenger'">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapsePassenger"
      aria-expanded="true"
      aria-controls="collapsePassenger"
    >
      <i class="fa fa-users"></i>
      <span>Passengers</span>
    </a>
    <div
      id="collapsePassenger"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="#" [routerLink]="['/passengersRecord']"
          >Records</a
        >
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">
    Vehicles
  </div>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item" [class.active]="activeLink === 'Car'">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCar"
      aria-expanded="true"
      aria-controls="collapseCar"
    >
      <i class="fa fa-car"></i>
      <span>Cars</span>
    </a>
    <div
      id="collapseCar"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="#" [routerLink]="['/carsRecord']"
          >Records</a
        >
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
